<!DOCTYPE html>
<html>
<head>
  <title>Weather Tunes</title>
</head>

<body>
  <div>
  <h1><%=@user_input.capitalize%>'s <%=@summary.capitalize%> <%=@time%> Vibes</h1>
  </div>

  <div>
    <dl>
      <dt>Temperature: Current temperature is <%=@current_temp%> degrees Fahrenheit</dt>
      <dt>Precipitation: <%=@precipitation.capitalize%></dt>
      <dt>Alerts: <%=@alert%></dt>
    </dl>
  </div>

  <div>
  <h2>Check Out These Playlists That Match <%=@user_input.capitalize%>'s <%=@summary.capitalize%> <%=@time%> Vibes</h2>
  </div>
  
  <div class="playlist">
  <%@playlists.each do |each_playlist|%>
    <div>
    <h4><%=each_playlist.name%></h4>
    <a href=<%=each_playlist.external_urls.fetch("spotify")%>><img src=<%=each_playlist.images[0].fetch("url")%> width="150" height="150"></a>
    </div>
  <%end%>
  </div>

  <div>
  <%if @precip != "none" %>
    <h3>
      Want More Playlist Options? Browse More Playlists <a href="https://open.spotify.com/search/<%=@precip%>%20weather/playlists" target="_blank">Here</a>
    </h3>
  <%else%>
    <h3>
      Want More Playlist Options? Browse More Playlists <a href="https://open.spotify.com/search/<%=@summary%>@20weather/playlists" target="_blank">Here</a>
    </h3>
  <%end%>
</div>

</body>
</html>
