<!DOCTYPE html>
<html>
<head>
  <title>Weather Tunes</title>
  <style>
  h1{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
  }
  h2{
        display: flex;
        justify-content: center;
        margin: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
  h3{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

    .browse{
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

    .playlist{
        display: flex;
        justify-content: space-around;
        text-align:center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
    .title{
        width: 150px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    dt{
      font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

  </style>
</head>

<body>
  <div>
  <h1><%=@user_location%>'s <%=@weather_summary%> Vibes</h1>
  </div>

  <div class="summary">
    <dl>
      <dt>Temperature: Current temperature is <%=@current_temp%> degrees Fahrenheit</dt>
      <dt>Precipitation: <%=@precipitation.capitalize%></dt>
      <dt>Alerts: <%=@alert%></dt>
    </dl>
  </div>

  <div>
  <h2>Check Out These Playlists That Match <%=@user_location%>'s <%=@weather_summary%> Vibes</h2>
  </div>
  
  <div class="playlist">
    <%@playlists.sample(3).each do |each_playlist|%>
    <div>
    <a href=<%=each_playlist.external_urls.fetch("spotify")%>><img src=<%=each_playlist.images[0].fetch("url")%> width="150" height="150"></a>
    <h4 class="title"><%=each_playlist.name%></h4>
    </div>
  <%end%>
  </div>

  <div>
  <%if @precip != "none" %>
    <h3>Want More Playlist Options?</h3>
    <a class="browse" href="https://open.spotify.com/search/<%=@precip%>weather/playlists" target="_blank"><button>Browse More Playlists</button></a>
  <%else%>
    <h3>Want More Playlist Options?</h3> 
    <a class="browse"href="https://open.spotify.com/search/<%=@summary%>weather/playlists" target="_blank"><button>Browse More Playlists</button></a> 
  <%end%>
</div>

</body>
</html>
